
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;700&display=swap');

:root{
    --primaryColor: #ff4655;
    --secondaryColor: #0f1923;

    --whiteColor: #fff;
    --darkColor: #000;
    --lightDarkColor: #333;
    --neutralColor: #9c9c9c;

    --primaryBackgroundColor: #212121;
    --secondaryBackgroundColor: #191919;

    --primaryTipyngColor: #fff;
    --negativeTipyngColor: #0f1923;

    --tipyngTitle: 'Raleway', sans-serif;
    --tipyngText: 'Open Sans', sans-serif;
    --textSize15: 15px;
    --textSize: 14px;
    --textSize12: 12px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--tipyngText);
    font-size: var(--textSize);

    background-color: var(--primaryBackgroundColor);
}


/*--------------------------------------------------------------
# Project
--------------------------------------------------------------*/


#project{
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    /* perque respecti el overflow: hidden; amb fills en absolute ha de estar el container en position: relative; */
    position: relative;
    overflow: hidden;
}

.google{
    width: 300px;
    height: 300px;

    padding: 0;
    margin: 0 auto 0;

    border-radius: 50%;
}

.google__red{
    z-index: 96;

    position: absolute;

    border-top: 60px solid #ea4335;
    border-right: 60px solid rgba(255, 255, 255, 0);
    border-bottom: 60px solid rgba(255, 255, 255, 0);
    border-left: 60px solid rgba(255, 255, 255, 0);

    animation: googleAnimation--red infinite cubic-bezier(0.97, 0.01, 0.36, 0.99) 10s;
}

.google__yellow{
    z-index: 97;

    position: absolute;

    border-top: 60px solid rgba(255, 255, 255, 0);
    border-right: 60px solid rgba(255, 255, 255, 0);
    border-bottom: 60px solid rgba(255, 255, 255, 0);
    border-left: 60px solid #fbbc05;

    animation: googleAnimation--yellow infinite cubic-bezier(0.97, 0.01, 0.36, 0.99) 10s;
}

.google__green{
    z-index: 98;

    position: absolute;

    border-top: 60px solid rgba(255, 255, 255, 0);
    border-right: 60px solid rgba(255, 255, 255, 0);
    border-bottom: 60px solid #34a853;
    border-left: 60px solid rgba(255, 255, 255, 0);

    animation: googleAnimation--green infinite cubic-bezier(0.97, 0.01, 0.36, 0.99) 10s;
}

.google__blue{
    z-index: 99;

    position: absolute;

    border-top: 60px solid rgba(255, 255, 255, 0);
    border-right: 60px solid #4285f4;
    border-bottom: 60px solid rgba(255, 255, 255, 0);
    border-left: 60px solid rgba(255, 255, 255, 0);

    animation: googleAnimation--blue infinite cubic-bezier(0.97, 0.01, 0.36, 0.99) 10s;
}

.google__stick{
    z-index: 100;

    position: absolute;

    border-top: 60px solid rgba(255, 255, 255, 0);
    border-right: 60px solid rgba(255, 255, 255, 0);
    border-bottom: 60px solid rgba(255, 255, 255, 0);
    border-left: 60px solid rgba(255, 255, 255, 0);
}

.google__stick::before{
    content: "";
    z-index: 100;

    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);

    width: 145px;
    height: 60px;

    background-color: #4285f4;
}

.google__triangle{
    z-index: 150;
    position: absolute;
    border-top: 150px solid transparent;
    border-right: 150px solid var(--primaryBackgroundColor);
    margin-bottom: 210px;
    margin-left: 180px;
}

.google__clear{
    z-index: 150;

    position: absolute;
    width: 0;
    height: 0;

    margin: 0 auto;
    margin-left: 605px;

    border: 150px solid var(--primaryBackgroundColor);

    animation: googleAnimation--clear infinite cubic-bezier(0.97, 0.01, 0.36, 0.99) 10s;
}

.google__clear-up{
    z-index: 150;

    position: absolute;
    width: 0;
    height: 0;

    margin: 0 auto;
    margin-bottom: 605px;

    border: 150px solid var(--primaryBackgroundColor);

    animation: googleAnimation--clear-up infinite cubic-bezier(0.97, 0.01, 0.36, 0.99) 10s;
}


@keyframes googleAnimation--red {
    0%{


    }
    25%{
        transform: rotate(0deg);

    }
    40%{
        transform: rotate(-360deg);

    }
    60%{
        transform: rotate(-360deg);

    }
    72.5%{
        transform: rotate(0deg);

    }
    100%{


    }
}

@keyframes googleAnimation--yellow {
    0%{


    }
    30%{
        transform: rotate(0deg);

    }
    37.5%{
        transform: rotate(-270deg);

    }
    62.5%{
        transform: rotate(-270deg);

    }
    70%{
        transform: rotate(0deg);

    }
    100%{


    }
}

@keyframes googleAnimation--green {
    0%{


    }
    30%{
        transform: rotate(0deg);

    }
    38.5%{
        transform: rotate(-180deg);

    }
    61.5%{
        transform: rotate(-180deg);

    }
    70%{
        transform: rotate(0deg);

    }
    100%{


    }
}

@keyframes googleAnimation--blue {
    0%{
 

    }
    30%{
        transform: rotate(0deg);

    }
    37.5%{
        transform: rotate(-34deg);

    }
    62.5%{
        transform: rotate(-34deg);

    }
    70%{
        transform: rotate(0deg);

    }
    100%{


    }
}

@keyframes googleAnimation--clear {
    0%{


    }
    35%{
        margin-left: 605px;

    }
    39.15%{
        margin-left: 290px;

    }
    60.85%{
        margin-left: 290px;

    }
    65%{
        margin-left: 605px;

    }
    100%{


    }
}

@keyframes googleAnimation--clear-up {
    0%{


    }
    32.5%{
        margin-bottom: 605px;

    }
    34%{
        margin-bottom: 360px;

    }
    67%{
        margin-bottom: 360px;

    }
    68.5%{
        margin-bottom: 605px;

    }
    100%{


    }
}


/*--------------------------------------------------------------
@Media Quiery - Portatil
--------------------------------------------------------------*/


@media screen and (max-width: 1440px) {


    /*--------------------------------------------------------------
    # header - Portatil
    --------------------------------------------------------------*/


}


/*--------------------------------------------------------------
@Media Quiery - PC Small Screen
--------------------------------------------------------------*/


@media screen and (max-width: 1200px) {


    /*--------------------------------------------------------------
    # header - PC Small Screen
    --------------------------------------------------------------*/


}


/*--------------------------------------------------------------
@Media Quiery - Tablet
--------------------------------------------------------------*/


@media screen and (max-width: 1024px) {


    /*--------------------------------------------------------------
    # header - Tablet
    --------------------------------------------------------------*/


}


/*--------------------------------------------------------------
@Media Quiery - Mobile
--------------------------------------------------------------*/


@media screen and (max-width: 576px) {


    /*--------------------------------------------------------------
    # header - Mobile
    --------------------------------------------------------------*/


}